@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Kumar Sahab<br />
    Chennai, TamilNadu<br />
    <abbr title="Mobile">P:</abbr>
    9024030783
</address>

<address>
    <strong>Mail:</strong>   <a href="mailto:krsahab@outlook.com">krsahab@outlook.com</a><br />
    <strong>Web:</strong> <a href="https://kumarsahab.azurewebsites.net/" target="_blank">https://kumarsahab.azurewebsites.net/</a>
</address>