@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h2>Welcome to Race Management Portal</h2>
    <p class="lead">
        Race Management is an ASP.NET Web application to Add/Update/Delete/View Race details.<br>
        Click on navigation bar links to get Details
    </p>
    @Html.ActionLink("About", "About", "Home")
    @Html.ActionLink("Contact", "Contact", "Home")
</div>