@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Racing Battlegrounds</h1>
    <p class="lead">
        Racing Battlegrounds is ASP.NET MVC app to display Race Details and Driver Details.
        Click on below links or navigation bar links to get Details
    </p>
    @Html.ActionLink("Race Details", "Index", "RaceDetails")
    @Html.ActionLink("Driver Details", "Index", "DriverDetails")
</div>